@charset "UTF-8";

.page-content{
	display:flex;
}
.content{
	display: flex;
	justify-content : center;	
	width : 100%;
}
.slide-content{
	width : 80%;
	display : flex;
	justify-content : space-between;
}
.carousel-item>img{
	height : 400px;
}
