.page-content {
  width: 1200px;
  margin: 30px auto;
  margin-bottom: 10px;
  flex-grow: 1;
}

.page-title {
  font-family: ns-bold;
  padding: 20px 0px;
  font-size: 1.5rem;
}

.input-wrap {
  padding: 15px;
  margin: 0 auto;
}

.input-wrap:nth-child(2) {
  margin-top: 150px;
}

.profile-img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  position: absolute;
  margin: 0px 0px 16px;
  border-radius: 100%;
}

#upProfile {
  display: none;
}

#camera {
  width: 50px;
  height: 50px;
  top: 170px;
  left: 170px;
  position: relative;
  cursor: pointer;
}

.input-wrap>label {
  margin-bottom: 30px;
  display: block;
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
}

.input-form {
  width: 80%;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 14px 14px 12px;
  background: #fff;
  color: rgb(17, 17, 17);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
}

.input-form:read-only:not(select),
.input-form:disabled {
  /* background-color: #f7f7f9; */
  background: rgb(238, 238, 238);
  color: rgb(170, 170, 170);
}

.btn-box {
  padding-left: 400px;
  margin-top: 30px;
}

.bs2 {
  padding: 1.5rem;
  font-size: 1.1em;
}

.bc66 {
  border: 1px solid rgb(204, 204, 204);
  background: #4B89DC;
  color: #fff;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: center;
  white-space: nowrap;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

#memberIntro {
  width: 80%;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 14px 14px 12px;
  background: #fff;
  color: rgb(17, 17, 17);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
}