.page-content{
    width: 900px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 10px;
}
.top{
    overflow: hidden;
}
.profile-image{
   float: left;
}
.profile-img {
  margin-bottom: 50px;
  margin: 0px 0px 16px;
  border-radius: 50%;
  
}
#upProfile {
  display: none;
}
.profile-name>div{
    padding: 10px;
    margin-left: 50px;
}
.profile-detail{
    overflow: hidden;
}
.profile-detail>div{
    float: left;
    margin: 0 20px;
    text-align: center;
}
.sub-menu>div:first-child(){
	 font-weight: 700;
    font-size: 20px;
    color: #686b72;
}
.sub-menu>div{
    margin: 10px 0;
}
