.page-content {
	width: 900px;
	background-color: #fff;
	margin: 100px auto;
	border-radius: 10px;
}

.top {
	overflow: hidden;
}
.profile-wrap{
	
	text-decoration: none;
}
.profile-image {
	float: left;
}

.profile-img {
	width: 50px;
	height: 50px;
	margin-bottom: 50px;
	margin: 0px 0px 16px;
	border-radius: 50%;
}

.profile-name {
	font-weight: 700;
	font-size: 20px;
	color: #686b72;
	background-color: transparent;
	border: none;
}

#upProfile {
	display: none;
}

.profile-name>div {
	padding: 10px;
	margin-left: 50px;
}

.profile-detail {
	overflow: hidden;
}

.profile-detail>div {
	float: left;
	margin: 0 20px;
	text-align: center;
}
#memberName{
	
	text-decoration: none;
}
.sub-menu input[type=submit] {
	font-size: 20px;
	color: #686b72;
	background-color: transparent;
	border: none;
}
.sub-menu input[type=submit]:hover {
	
	color: #000;

	}
.sub-menu a {
	font-size: 20px;
	color: #686b72;
	background-color: transparent;
	border: none;
	text-decoration: none;
}
.sub-menu a:hover {
	color: #000;
	}

.sub-menu>div {
	margin: 10px 0;
}