*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color:black;
}
.wrap{
    width: 60%;
    margin: 100px auto;
}
.category{
    background-color: #85C88A;
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.content{
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    border-bottom: solid 0.5px rgb(215, 217, 215);
}
.content-visit{
	padding-left: 70px;
}
.star{
    width: 250px;
}
.title{
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    display: block;
}
.small-title{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.show-rating{
    margin-bottom: 20px;
}
.photo{
	padding-left: 200px;
}
.photo img{
    width: 280px;
    height: 340px;
    margin: 10px;
    padding: 10px;
}
.photo img:first-child{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.photo img:last-child{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.host-img{
    width: 60px;
    height: 60px;
}
.explain{
    width: 650px;
}
.contact-host{
    background-color: #85C88A;
    height: 80px;
    width: 160px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 80px
}
.contact-host>a{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    padding: 10px;
    font-style: white;
    display: inline-block;
}

.map>img{
    width: 1000px;
    height: 400px
}
.attend-box{
    margin-top: 20px;
    padding:20px;
    width: 450px;
    height: 550px;
    border: 0.5px solid rgb(214, 214, 214);
    border-radius: 20px;
}
.attend-info{
    margin-top:30px;
}
#submit-button{
    background-color: #85C88A;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
}
#seemore-button{
    width: 400px;
    height: 60px;
    border-radius: 5px;
}

.contents-bundle{
    overflow: hidden;
}
.contents-left{
	padding: 30px;
    float:left;
    width: 60%;
}
.contents-right{
    float:right;
    padding: 0;
    width: 30%;
    margin-left: 7%;
    margin-right: 3%;
}
.button-area{
    clear:left;
}
.select-box.right{
	width: 400px;
    height: 80px;
    float:left;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}

.select-button{
    padding: 5px;
}
.attend-number{
    pointer:cursor;
	font-size: 15px;
	font-weight: 200;
	color: black;
}
.attend-number option{
	font-size: 15px;
	font-weight: 700;
	color: black;
}
#datePicker{
	pointer:cursor;
	font-size: 15px;
	font-weight: 200;
	text-align: center;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
#calendar-button {
    background-color: #007bff;
    color: #ffffff;
 }

#map{
	width: 65%;
	margin-top:0 auto ;
	border-radius: 50px;
}


	